body {
    font-family: Arial, sans-serif;
    padding: 10px;
  }
  
  #search {
    width: 200px; /* Set a fixed width */
    padding: 5px;  /* Adjust padding for a more compact size */
    margin-bottom: 10px;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
  }
  
  #findButton {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #4CAF50; /* Light blue color */
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
  }
  
  #findButton:hover {
    background-color: #45a049; /* Darker blue on hover */
  }
  
  #results {
    list-style-type: none;
    padding: 0;
  }
  
  #results li {
    padding: 5px 0;
    cursor: pointer;
  }
  
  #results li:hover {
    background-color: #f0f0f0;
  }
  